/* styles for all pages */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/tsc/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

 h1 {
     font-weight: 700;
 }

.section-divider {
    margin: 5rem 0;
}