/* styles for all pages */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/tsc/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.lang-menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang-menu p{
    margin: 0;
}

.lang-flags {
    max-width: 100%;
    width: 20px;
    height: 20px;
}

h1 {
    font-weight: 700;
}

.section-divider {
    margin: 5rem 0;
}

.title-subTitle {
    text-align: center;
}

@media screen and (width < 768px) {

    .title-subTitle {
        text-align: left;
    }
}